Package: com.uckermark.cometcrashfix
Name: CometCrashFix
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Uckermark
Author: Uckermark
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
